<% if @user.role == "patient" %>
<h1>Patient Profile</h1>
<% elsif @user.role == "doctor" %>
<h1>Doctor Profile</h1>
<% else %>
<h1>Admin Profile</h1>
<% end %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
<a href="/dashboard">Rooms</a>

<ul id="details">
  <li>
    Username:
    <%= @user.username %>
  </li>
  <li>
    Email:
    <%= @user.email %>
  </li>
  <li>
    Name:
    <%= "#{@user.first_name} #{@user.last_name}" %>
  </li>
  <li>
    Gender:
    <%= @user.gender %>
  </li>
  <li>
    Birthday:
    <%= @user.birthday.strftime("%B %d, %Y") %>
  </li>
</ul>
<% if @user.role == "patient" %>
  Medical Record:
  <iframe src='<%= @user.patient.med_record %>&embedded=true' width='100%' height='800'></iframe>
<% end %>

<div class="row">
  <%# <div class="col"> %>
  <%= link_to 'Edit Info', '/users/editinfo', :class => 'btn btn-primary col-2' %>
  <%# </div> %>
  <%# <div class="col"> %>
  <%= link_to 'Change Password or Delete', '/users/edit', :class => 'btn btn-danger col-2' %>
  <%# </div> %>
</div>