<h2>Edit Profile</h2>

<%= simple_form_for(@doctor, as: :doctor, url: registration_path(:doctor), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
        <%= f.input :email %>
        <%= f.input :last_name%>
        <%= f.input :first_name %>
        <%= f.date_select :birthday %>
    </div>
    </br>
    <div class="form-actions">
    <%= f.button :submit, "Update", :class => 'btn btn-primary col-1'%>
    </div>
<% end %>
</br>
<div>
  <%= link_to "Back", :back %>
</div>