
<%= simple_form_for(@appointment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.association :patient, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.association :doctor, collection: Doctor.getallnames %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "create btn btn-primary col-2" %>
  </div>
  <br>
<% end %>
