<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%=Slot.find(@appointment.slot_id).start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%=Slot.find(@appointment.slot_id).end_time %>
</p>

<p>
  <strong>Patient:</strong>
  <%# <%= Patient.find_by(id: @appointment.patient_id).first_name+" "+Patient.find_by(id: @appointment.patient_id).last_name %>
  <%= @appointment.patient.user.first_name + " " + @appointment.patient.user.last_name %>
</p>

<p>
  <strong>Doctor:</strong>
  <%# <%= Doctor.find_by(id: @appointment.doctor_id).first_name+" "+Doctor.find_by(id: @appointment.doctor_id).last_name %>
  <%= @appointment.doctor.user.first_name + " " + @appointment.doctor.user.last_name %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
